<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' type='text/javascript'></script>
         <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js' type='text/javascript'></script>
        <title>Interactive Address Book</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="shortcut icon" href="img/logo.png">
    </head>
    <body>
         <h1>30 Rock Interactive Employee Address Book</h1>
         <form>
            Search: <input type="text" name="search" id = "livesearch"><br>
         </form>
        <div id="container">
        </div>
             
            <!-- search area -->

            <!-- container for the generated address book entries -->
            <script id="template" type='text/template'>
                <% for (var i = 0; i < Employees.entries.length; i++) { %>
                    <div class="person searchable">
                        <img class="pic" src="<%= Employees.entries[i].pic %>" alt=""/>
                        <div class="details">
                        <h2 class="name search-this"> <%= Employees.entries[i].first %> <%= Employees.entries[i].last%> </h2>
                        <p class="lead title search-this"><%= Employees.entries[i].title %></p>
                        <p>Department: <%= Employees.entries[i].dept %><span class="dept search-this"></span></p>
                        </div>
                    </div>         
            <% } %>
            </script>
             <!-- .container -->
        <script src="js/employees.js"></script>
        <script src="js/address-book.js"></script>
        <script src = "js/live-search.js"> </script>
    </body>
</html>
